.orange-color{
    color: orangered;

}
body{
    font-family: 'Poppins', sans-serif
}
.flexible-container{
    display: flex;

}
.eat-healthy{
    display: flex;

}
.order-food{
    text-decoration: none;
    
    padding: 11px 27px;
    border-radius: 25px;
    background-image: linear-gradient(orange,red);
    color: white;
    font: 700px;
   
    line-height: 80px;
}

.contact-us{
    text-decoration: none;
    
    padding: 11px 27px;
    border-radius: 25px;
    background-image: linear-gradient(orange,red);
    color: white;
    font: 700px;
   
    line-height: 150px;
}

.half-width{
    width: 50%;
    margin-left: 3%;
    padding: 50px;
}
.half-width img{
    width: 80%;
}
.eat-healthy{
    background-image: url(images/images/shapes/Group\ 8448.png);
    margin: 0;
}

.about-us{
    
    margin-top: 100px;
    background-image: url(images/images/shapes/Frame\ 57.jpg);
}

    .tab {
        margin-left: 40%;
       }

h1{

}
.align{
    text-align: center;
}
.half-change{
    width: 40%;
    margin-left: 2%;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
}
.half-change img{
    width: 80%;
    margin: 10%;
    
}
